<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="../../../View/CSS/principal.css">
    <link rel="stylesheet" href="../../../View/CSS/letras.css">
    <link rel="stylesheet" href="../../../View/CSS/botones.css">
    <link rel="stylesheet" href="../../../View/CSS/otros.css">
    

    <script src="../../../View/JS/divgenerator.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../../View/JS/grafica.js"></script>
</head>

<body>
    <!-- Cuadro Superior -->
    <div id="CuadroSuperior">
        <h1>GESTOR DE MOVIMIENTOS FINANCIEROS</h1>
        <button class="boton1" style="border: none;">
            <a href="../Usuarios/ConfiguracionUsuarios.php">
                <img src="../../../View/Media/ajusicon.png" class="ajusicon">
            </a>
        </button>
    </div>

    <!-- Formulario para agregar cuentas -->
    <center>
        <button class="boton1" onclick="mostrarFormulario()">+</button>
        <div id="formularioCategoria1" class="formulario oculto">
            <h2>Agregar</h2>
            <form id="formAgregar">
                <label>Cuenta:</label>
                <input type="text" id="inputCuenta" name="inputCuenta" required><br><br>
                <label>Saldo:</label>
                <input type="number" id="inputSaldo" name="inputSaldo" required><br><br>
                <label>Tope:</label>
                <input type="number" id="inputTope" name="inputTope" required><br><br>
                <button type="submit">Crear</button>
            </form>
        </div>
        <div id="contenedor"></div>
    </center>
    <div id="dMovimientos">
        <div class="tarjeta">
            <button id="bImagen"><img src="../../../View/Media/ingreso.png" style="height: 50px; width: 70px;"></button>
            <button id="bLabel">INGRESO</button>
            <label id="label1">Gestiona tus ingresos</label>
        </div>
        <div class="tarjeta">
            <button id="bImagen"><img src="../../../View/Media/egreso.png" style="height: 50px; width: 100px;"></button>
            <button id="bLabel">Gastos</button>
            <label id="label1">Controla tus gastos</label>
        </div>
        <div class="tarjeta">
            <button id="bImagen"><img src="../../../View/Media/" style="height: 50px; width: 100px;"></button>
            <button id="bLabel">Transferencia entre Cuentas</button>
            <label id="label1">Gestiona las transferencias entre las cuentas</label>
        </div>
    </div>

    <div id="dformulariosIngresoEgreso">
        <div id="dIngreso">
            <form id="ingreso">
                <label>MONTO</label> <input type="number"><br>
                <label>CATEGORIA</label> <select name="categorias" id="categorias">
                    <option disabled selected>Selecciona una categoria</option>
                    <option value="compras">Compras</option>
                    <option value="viviendas">Viviendas</option>
                    <option value="transporte">Transporte</option>
                    <option value="comidas">Comidas</option>
                    <option value="vehiculos">Vehiculos</option>
                    <option value="vida_y_entretenimiento">Vida y Entretenimiento</option>
                    <option value="comunicaciones">Comunicaciones</option>
                    <option value="gastos">Gastos financieros</option>
                    <option value="inversiones">Inversiones</option>
                    <option value="ingresos">Ingresos</option>
                    <option value="otros">Otros</option>
                </select>
                <br>
                <label><input type="radio" name="tipoCuentaIngreso">CUENTA #1</label>
                <label><input type="radio" name="tipoCuentaIngreso">CUENTA #2</label>
                <label><input type="radio" name="tipoCuentaIngreso">CUENTA #3</label>
            </form>
        </div>


        <div id="dEgreso">
            <form id="egreso">
                <label>EGRESO</label> <input type="number"><br>
                <label>CATEGORIA</label> <select name="categorias" id="categorias">
                    <option disabled selected>Selecciona una categoria</option>
                    <option value="compras">Compras</option>
                    <option value="viviendas">Viviendas</option>
                    <option value="transporte">Transporte</option>
                    <option value="comidas">Comidas</option>
                    <option value="vehiculos">Vehiculos</option>
                    <option value="vida_y_entretenimiento">Vida y Entretenimiento</option>
                    <option value="comunicaciones">Comunicaciones</option>
                    <option value="gastos">Gastos financieros</option>
                    <option value="inversiones">Inversiones</option>
                    <option value="ingresos">Ingresos</option>
                    <option value="otros">Otros</option>
                </select>
                <br>
                <label><input type="radio" name="tipocuentaEgreso">CUENTA #1</label>
                <label><input type="radio" name="tipocuentaEgreso">CUENTA #2</label>
                <label><input type="radio" name="tipocuentaEgreso">CUENTA #3</label>
            </form>
        </div>

        <div id="dTransferencia">
            <form id="transferenciaCuentas">
                <label>CUENTA ORIGEN</label><br>
                <label><input type="radio" name="tipoCuentaOrigen">CUENTA #1</label>
                <label><input type="radio" name="tipoCuentaOrigen">CUENTA #2</label>
                <label><input type="radio" name="tipoCuentaOrigen">CUENTA #3</label>
                <br>
                <label>CUENTA DESTINO</label><br>
                <label><input type="radio" name="tipoCuentaDestino">CUENTA #1</label>
                <label><input type="radio" name="tipoCuentaDestino">CUENTA #2</label>
                <label><input type="radio" name="tipoCuentaDestino">CUENTA #3</label>
            </form>
        </div>
    </div>




    <!-- Cuadro de <center>
        <div id="CuadroSuperior" style="margin-top: 100px; background-color: aquamarine;">
            <h1>GRAFICAS</h1>
        </div>
        <div id="inferior" style="display: grid; grid-template-columns: 2fr 1fr;">
            <canvas id="graficaGastos" width="600" height="300"></canvas>
            <canvas id="graficaPastel" width="600" height="300"></canvas>
        </div>
    </center> gráficas -->

</body>

</html>