<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="../CSS/principal.css">
</head>
<body>

    <div id="CuadroSuperior">
    <h1>GESTOR DE MOVIMIENTOS FINANCIEROS</h1>
    <img src="../Media/icon1.png" style="text-align: center; height: 50px;">
    <a href="INCERTE EL LIKK PARA EL HTML DE AJUSTES AQUI" id="Ajustes">
        <img src="../Media/ajusicon.png" style="height: 50px; text-align: right;"><br> Ajustes de cuenta
    </a>
    <label for=""></label>
    <label id="u">Bienvenido: </label>
    <label id="Usuario" Name="Usuario">Jericoth</label>
    </div> 


    
</body>
</html>